.header {
	padding: 20px 0;
	display: flex;
	gap: 15px;
	align-items: center;
	.bar {
		color: var(--black);
		border-radius: 50%;
		border: 3px solid var(--black);
		padding: 11px 14px;
		font-size: 20px;
		cursor: pointer;
	}
	.logo {
		border-left: 4px solid var(--black);
		padding: 2px 10px;
		font-size: 23px;
		color: var(--white);
		text-decoration: none;
	}
	.headerConnected {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 5px;
		flex: 1;
	}
}
