.errorPage {
	flex: 1;
	background-color: var(--black);
	color: var(--error);
	font-size: var(--font-size-large);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
